{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
    <h1>Create Page</h1>
    <form action="{% url "savepage" %}" method="POST">
        <div class="form-group">
            <label class="hidden" for="title">Title</label>
            <input class="title" type="text" id="title" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label class="hidden" for="create-entry">Content</label>
            <textarea class="create-entry" id="create-entry" name="entry" placeholder="Create new entry" cols="35" rows="15"></textarea>
        </div>
        <div>
            <button id="save-entry">Save</button>
        </div>
    </form>
{% endblock %}